/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11/09/2014, 12:10:04
    Author     : luiz.goncalves
    Organização do CSM, separação de .css customizados apartir
    do bootstrap original */
#tabela {
    width: 97%;
    padding-left: 10px;
}
#logo {
    padding-top: 18px;
    padding-bottom: 18px;
    margin-left: 15px;
}
#logo > img {
    max-width: 435px;
}
#pesquisa {
    padding-top: 23px;
}
.img-left{
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}
.form-pesquisa {
    display: block;
    height: 31px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555555;
    vertical-align: middle;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
#redes-sociais {
    padding-top: 34px;
}
#icon-redes {
    height: 30px;
    width: 24px;
    margin-right: 6px;
    float: right;
}
.content {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #fff;
    border-top-width: 3px;
    border-top-style: solid;
    border-top-color: #00a2bf;
    height:100%;
}
.results {
    margin-top: 20px;
    margin-left: 10px;
    width: 100%;
}
.result-part {
    margin-top: 10px;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #00a2bf;
}
#footer {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    min-height: 80px;
    background-color: #0085ca;
}
@media (min-width: 769px) {
    .content {
        width: 750px;
    }
    #footer {
        width:750px;
    }
}
@media (min-width: 992px) {
    .content {
        width: 970px;
    }
    #footer {
        width:970px;
    }
}
@media (min-width: 1200px) {
    .content {
        width: 1170px;
    }
    #footer {
        width:1170px;
    }
}

@media (min-width: 1920px) {
    .content {
        width: 1470px;
    }
    #footer {
        width:1470px;
    }
    .container {
        width: 1470px;
    }
}
@media (max-width: 768px) {
    .Menu-superior {
        display: none;
    }
    .redes-sociais {
        display: none;
    }
    .pesquisa {
        display: none;
    }
    #nome{
        text-align:center;
    }
    h3{
        font-size: 16px;
    }
    #logo {
        padding-top: 6px;
        padding-bottom: 6px;
    }
    #logo > img {
        max-width: 290px;
    }
}
@media (min-width: 769px) and (max-width: 991px) {
    .Menu-superior {
        display: none;
    }
    .redes-sociais {
        display: none;
    }
    .pesquisa {
        display: none;
    }
    #nome{
        padding-top: 10px;
        margin-left:-6px;
        text-align:center;
    }

}
#map{
    display: block;
    width: 95%;
    height: 350px;
    margin: 0 auto;
    -moz-box-shadow: 0px 5px 20px #ccc;
    -webkit-box-shadow: 0px 5px 20px #ccc;
    box-shadow: 0px 5px 20px #ccc;
}
#mappq{
    display: block;
    width: 100%;
    height: 150px;
    margin: 0 auto;

}
#map.large{
    height:500px;
}

.overlay{
    display:block;
    text-align:center;
    color:#fff;
    font-size:60px;
    line-height:80px;
    opacity:0.8;
    background:#4477aa;
    border:solid 3px #336699;
    border-radius:4px;
    box-shadow:2px 2px 10px #333;
    text-shadow:1px 1px 1px #666;
    padding:0 4px;
}

.overlay_arrow{
    left:50%;
    margin-left:-16px;
    width:0;
    height:0;
    position:absolute;
}
.overlay_arrow.above{
    bottom:-15px;
    border-left:16px solid transparent;
    border-right:16px solid transparent;
    border-top:16px solid #336699;
}
.overlay_arrow.below{
    top:-15px;
    border-left:16px solid transparent;
    border-right:16px solid transparent;
    border-bottom:16px solid #336699;
}

.container .credit {
    margin: 20px 0;
    font-weight: 400;
    color: #FFF;
    font-size: 12px;
    text-align: center;
    line-height: 19px;
}

hr {
    border-color: #F5F5F5;
    border-style: solid 1px;
    border-width: 1px 0;
    margin: 18px 0;
}

#nome{
    padding-top: 30px;
    margin-left:-21px;
    text-align:right;
    padding-right: 40px;
}

#nomecanal{
    padding-top: 30px;
    margin-left:-21px;
    text-align:right;
    padding-right: 40px;
}

#txtcentral{
    padding-top: 160px;
    padding-bottom: 190px;

}

body {
    font-family: 'lato', Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #333333;
    background-color: #ededed;
}
.navbar-default {
    background-color: #0085ca;
    border-color: #fff;
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #0085ca;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #00a3f7;
    font-weight: 500;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	color: #333333;
	background-color: #f5f5f5;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #0085ca;	
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #555555;
    background-color: #ededed;
}
.uppercase {
    text-transform: uppercase;
}
.azul {
    color: #046a9f;
}
.bold {
    font-weight: bold;
}
a {
  color: #0085ca;
  text-decoration: none;
}
.btn-success {
  color: #ffffff;
  background-color: #0085ca;
  border-color: #00a3f7;
}
.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
  background-color: #0085ca;
  border-color: #00a3f7;
}
.btn-link {
  color: #0085ca;
  font-weight: normal;
  cursor: pointer;
  border-radius: 0;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: #eeeeee;
  border-color: #0085ca;
}
.nav .caret {
  border-top-color: #0085ca;
  border-bottom-color: #0085ca;
}
.label-success {
  background-color: #0085ca;
}
a.list-group-item.active > .badge,
.nav-pills > .active > a > .badge {
  color: #0085ca;
  background-color: #ffffff;
}
a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail.active {
  border-color: #0085ca;
}
.progress-bar-success {
  background-color: #0085ca;
}

