.ui-progressbar {
    position: relative;
  }
  .progress-label {
    position: absolute;
    left: 5%;
    font-size: 12px;
    top: 6px;
    font-weight: bold;
  }
  
  .ui-widget-header {
	border: 0px solid #aaaaaa/*{borderColorHeader}*/;
	background: #FFF6BF;
	font-weight: bold;
}

  .ui-widget-header-danger {
	border: 0px solid #aaaaaa/*{borderColorHeader}*/;
	background: #d9534f;
	font-weight: bold;
}

  .ui-widget-header-warning {
	border: 0px solid #aaaaaa/*{borderColorHeader}*/;
	background: #f0ad4e;
	font-weight: bold;
}

  .ui-widget-header-success {
	border: 0px solid #aaaaaa/*{borderColorHeader}*/;
	background: #5cb85c;
	font-weight: bold;
}


.ui-widget-content{
    border: 0px solid #aaaaaa/*{borderColorHeader}*/;
}

.modal .large60 {
     width: 60%;
}
.panel-heading {
    height: 42px;
}

.navbar-top-links li a {
    padding-top: 24px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 25px;
    min-height: 50px;
}

@media(min-width:768px) {
    .sidebar {
        margin-top: 70px;
    }
}

.login-panel-logo {
    margin-top: 25%;
}

.login-panel {
    margin-top: 5%;
}

#page-wrapper {
    min-height: 868px;
}

/*
 * Page: Mailbox
 * -------------
 */
.mailbox-messages > .table {
  margin: 0;
}
.mailbox-controls {
  padding: 5px;
}
.mailbox-controls.with-border {
  border-bottom: 1px solid #f4f4f4;
}
.mailbox-read-info {
  border-bottom: 1px solid #f4f4f4;
  padding: 10px;
}
.mailbox-read-info h3 {
  font-size: 20px;
  margin: 0;
}
.mailbox-read-info h5 {
  margin: 0;
  padding: 5px 0 0 0;
}
.mailbox-read-time {
  color: #999;
  font-size: 13px;
}
.mailbox-read-message {
  padding: 10px;
}
.mailbox-attachments li {
  float: left;
  width: 160px;
  border: 1px solid #eee;
  margin-bottom: 10px;
  margin-right: 10px;
}
.mailbox-attachment-name {
  font-weight: bold;
  color: #666;
}
.mailbox-attachment-icon,
.mailbox-attachment-info,
.mailbox-attachment-size {
  display: block;
}
.mailbox-attachment-info {
  padding: 10px;
  background: #f4f4f4;
}
.mailbox-attachment-size {
  color: #999;
  font-size: 12px;
}
.mailbox-attachment-icon {
  text-align: center;
  font-size: 45px;
  color: #666;
  padding: 10px 10px;
}
.mailbox-attachment-icon.has-img {
  padding: 0;
}
.mailbox-attachment-icon.has-img > img {
  max-width: 100%;
  height: auto;
}

.list-unstyled, .chart-legend, .contacts-list, .users-list, .mailbox-attachments {
    list-style: none;
    margin: 0;
    padding: 0;
}

@media (min-width: 1200px) {
    .modal-lg {
        width: 1170px;
    }
}
